<h3>TodoControl</h3>

<editform Model="@todo">
    <div class="mb-3">
        <label for="todoItem" class="form-label">Todo Item:</label>
        <input style="text" @bind="todo.TodoItem" class="form-control"
            id="todoItem" />
        <botton class="btn btn-primary" @onclick="AddTodo">Add</botton>
    </div>
</editform>
<h3>ToDo List</h3>
<ul>
    @foreach(var t in todos)
    {
        @if(t.IsComplete)
        {
            <span style="text-decoration: line-through">
                @t.TodoItem
            </span>
        }
        else
        {
            @t.TodoItem
            <button class="btn btn-warning btn-sm ms-3"
                onclick="()=> t.IsComplete=true">
                Complete
            </button>
        }

    }
</ul>


@code {
    private List<TodoModel> todos = new();
    private TodoModel todo = new();

    private void AddTodo()
    {
        todos.Add(todo);
        todo = new();
    }

}
